//! **************************************************************************
// Written by: Map M.53d on Tue Apr 23 17:08:46 2013
//! **************************************************************************

SCHEMATIC START;
COMP "pwm_out" LOCATE = SITE "D7" LEVEL 1;
COMP "Reset" LOCATE = SITE "K17" LEVEL 1;
COMP "clk_in" LOCATE = SITE "C9" LEVEL 1;
NET "clk_in_BUFGP/IBUFG" BEL "clk_in_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_in_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

